
.main--content{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 15rem;
}
/* hero section */
.hero--section{
    display: flex;

}

.hero--button{
    background-color: orangered;
}
.achievements{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.success h2{
    color: orangered;
}


.hero--image img{
    flex: 1;
    width: 30vw;
    text-align: center;
    animation: fadeInRight 1s ease;
    position: relative;
    border-radius: 50%;
    
}
.hero--image img{
    border-radius: 50%;
    content: '';
    background: transparent;
    box-shadow: 
        0 0 200px 100px rgba(255, 255, 255, 0.9),
        0 0 250px 200px rgba(100, 200, 255, 0.7),
        0 0 300px 250px rgba(65, 105, 255, 0.4)
    ;
    animation: fadeGlow 5s ease-in-out infinite;

}

@keyframes fadeGlow {
    0%, 85%,100% {
        opacity: 0.4;
    }
    90%, 95% {
        opacity: 0;
    }
}

@media (max-width:900px) {
    .main--content{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-top: 5rem;
    }
    .hero--image img{
        flex: 1;
        width: 30vw;
        display: none;
        text-align: center;
        animation: fadeInRight 1s ease;
        position: relative;
        border-radius: 50%;
        
    }
    .hero--image {
        border-radius: 50%;
        content: '';
        background: transparent;
        box-shadow: 
            0 0 200px 100px rgba(255, 255, 255, 0.9),
            0 0 250px 200px rgba(100, 200, 255, 0.7),
            0 0 300px 250px rgba(65, 105, 255, 0.4)
        ;
        animation: fadeGlow 5s ease-in-out infinite;

    }

    @keyframes fadeGlow {
        0%, 85%,100% {
            opacity: 0.4;
        }
        90%, 95% {
            opacity: 0;
        }
    }
    .achievements{
        display: flex;
        justify-content: space-between;
        width: 50%;
        flex-direction: column;
    }
    

}
@media (max-width:750px){
    .main--content{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-top: 5rem;
    }
    .hero--image img{
        flex: 1;
        width: 30vw;
        display: none;
        text-align: center;
        animation: fadeInRight 1s ease;
        position: relative;
        border-radius: 50%;
        
    }
    .hero--image {
        border-radius: 50%;
        content: '';
        background: transparent;
        box-shadow: 
            0 0 200px 100px rgba(255, 255, 255, 0.9),
            0 0 250px 200px rgba(100, 200, 255, 0.7),
            0 0 300px 250px rgba(65, 105, 255, 0.4)
        ;
        animation: fadeGlow 5s ease-in-out infinite;

    }

    @keyframes fadeGlow {
        0%, 85%,100% {
            opacity: 0.4;
        }
        90%, 95% {
            opacity: 0.8;
        }
    }
    .achievements{
        display: flex;
        justify-content: space-between;
        width: 50%;
        flex-direction: column;
    }

}
@media (max-width:400px){
    .main--content{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-top: 5rem;
    }
    .hero--image img{
        flex: 1;
        width: 30vw;
        display: none;
        text-align: center;
        animation: fadeInRight 1s ease;
        position: relative;
        border-radius: 50%;
        
    }
    .hero--image {
        border-radius: 50%;
        content: '';
        background: transparent;
        box-shadow: 
            0 0 200px 100px rgba(255, 255, 255, 0.9),
            0 0 250px 200px rgba(100, 200, 255, 0.7),
            0 0 300px 250px rgba(65, 105, 255, 0.4)
        ;
        animation: fadeGlow 5s ease-in-out infinite;

    }

    @keyframes fadeGlow {
        0%, 85%,100% {
            opacity: 0.4;
        }
        90%, 95% {
            opacity: 0;
        }
    }
    .achievements{
        display: flex;
        justify-content: space-between;
        width: 50%;
        flex-direction: column;
    }
    

}