
.main--content{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 15rem;
}
/* hero section */
.hero--section{
    display: flex;

}
.hero--text{
    color: #1d3d6f;
}
.hero--text h4 p i{
    color: orangered;
}
.hero--content p{
    color: black;
}
.hero--button{
    background-color: orangered;
}
.achievements{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.success h2{
    color: orangered;
}
.success p{
    color: black;
}


.hero--image img{
    flex: 1;
    width: 30vw;
    text-align: center;
    animation: fadeInRight 1s ease;
    position: relative;
    border-radius: 50%;
    
}
.hero--image img{
    border-radius: 50%;
    content: '';
    background: transparent;

}


@media (max-width:900px) {
    .main--content{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-top: 5rem;
    }
    .hero--image img{
        flex: 1;
        width: 30vw;
        display: none;
        text-align: center;
        animation: fadeInRight 1s ease;
        position: relative;
        border-radius: 50%;
        
    }
    
    .achievements{
        display: flex;
        justify-content: space-between;
        width: 50%;
        flex-direction: column;
    }
    

}
@media (max-width:750px){
    .main--content{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-top: 5rem;
    }
    .hero--image img{
        flex: 1;
        width: 30vw;
        display: none;
        text-align: center;
        animation: fadeInRight 1s ease;
        position: relative;
        border-radius: 50%;
        
    }
    
    .achievements{
        display: flex;
        justify-content: space-between;
        width: 50%;
        flex-direction: column;
    }

}
@media (max-width:400px){
    .main--content{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-top: 5rem;
    }
    .hero--image img{
        flex: 1;
        width: 30vw;
        display: none;
        text-align: center;
        animation: fadeInRight 1s ease;
        position: relative;
        border-radius: 50%;
        
    }
   
    .achievements{
        display: flex;
        justify-content: space-between;
        width: 50%;
        flex-direction: column;
    }
    

}