.Header--section{
    border-bottom: 2px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.icon--details{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.Header--section .icon--details img{
  width: 70px;
  height: 10%;
  border-radius: 50%;
}
.Header--section .icon--details h3{
    font-size: 50px;
    color: orangered;
    margin-top: 50px;
}


@media (max-width:900px) {
    
    .Header--section{
        border-bottom: 2px solid green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
    }
    .icon--details{
        display: flex;
       
    }

    .icon--details img{
        width: 10%;
        height: 10%;
        border-radius: 50%;
    }
    .icon--details h3{
        font-size: 10px;
        color: orangered;
        margin-top: 10px;
    }
    
}

@media (max-width:750px) {
    
    .Header--section{
        border-bottom: 2px solid green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
    }
    .icon--details{
        display: flex;
        
        
    }

    .Header--section .icon--details img{
        width: 10%;
        height: 10%;
        border-radius: 50%;
    }
    .Header--section .icon--details h3{
        font-size: 10px;
        color: orangered;
        margin-top: 10px;
    }

}
@media (max-width:400px) {
  
    .Header--section{
        border-bottom: 2px solid green;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
    }
    .icon--details{
        display: flex;
        
    }

    .icon--details img{
        width: 10%;
        height: 10%;
        border-radius: 50%;
    }
    .icon--details h3{
        font-size: 10px;
        color: orangered;
        margin-top: 10px;
    }
    
}