.Header--section{
    border-bottom: 2px solid orangered;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1d3d6f;
    
}

.icon--details{
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 20px;
    
}

.Header--section .icon--details img{
  width: 70px;
  height: 10%;
  border-radius: 50%;
  
}
.Header--section .icon--details h3{
    
    color: orangered;
  
}


@media (max-width:900px) {
    
    .Header--section{
        border-bottom: 2px solid orangered;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .icon--details{
        display: flex;
        align-items: center;
        justify-content: left;
       
    }

    .icon--details img{
        width: 10%;
        height: 100%;
        border-radius: 50%;
    }
    .icon--details h3{
        font-size: 10px;
        justify-content: left;
        margin-top: 10px;
    }
    
}

@media (max-width:750px) {
    
    .Header--section{
        border-bottom: 2px solid orangered;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }
    .icon--details{
        display: flex;
        align-items: center;
        justify-content: left;
        
    }

    .Header--section .icon--details img{
        width: 10%;
        height: 100%;
        border-radius: 50%;
    }
    .icon--details h3{
        font-size: 10px;
        justify-content: left;
    }

}
@media (max-width:400px) {
  
    .Header--section{
        border-bottom: 2px solid orangered;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
    }
    .icon--details{
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .icon--details img{
        width: 10%;
        height: 100%;
        border-radius: 50%;
    }
    .icon--details h3{
        font-size: 10px;
        justify-content: left;
        margin-top: 10px;
    }
    
}