/* project */
.project, .project--container{
    margin: 20px;
    align-items: center;
}
.project--container h2{
    font-size: 50px;
    color: #ff4500;
}
.project--sample{
    display: flex;
    gap: 20px;
}
.project--sample .sample{
    border: 1px solid #ff4500;
    border-radius: 50px;
    max-width: 50vw;
    max-height: 70vh;
}
.project--sample .sample h4,a{
    color: #ff4500;
}
.project--sample .sample h5,p {
    color: #ffffff;
}