/* skills */

.skills{
    margin: 20px;
    align-items: center;
}
.skills h2{
    color: #ff4500;
    font-size: 50px;
}
.skills--container{
    margin: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20%;
    
}
.skills--container .container{
    display: flex;
    flex-direction: column;
    background-color: #fff3;
    width: 50vw;
    max-height: 60vh;
}
.skills--container .container h3{
    color: #ff4500;
}
.skills--container .container p{
    color: #ffffff;
    border: 1px solid #ff4500;
    border-radius: 50px;
    margin: 20px;
}