
.snaptik--header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    background: rgb(221, 220, 220);
    
}
.snaptik-main--pages{
    padding-top: 3rem;
    width: 100vw;
    min-height: 100vh;
    background: rgb(221, 220, 220);
}
