#root {
  max-width: 100vw;
  background-color: black;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}



@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 1s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
